html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: 5px solid rgb(218, 199, 225);
  background-color: rgb(201, 165, 212);
  margin-right:auto;
  margin-left:auto;
  margin-top: 0px;
}
.gameTitle{
  width: 50%;
  height: 280px;
}
.titleText{
 width: 85%;
 font-size: 28px;
 font-style:oblique; 
 color: rgb(8, 70, 64);
}
.customButton { width:180px; height:50px; background-color: #1f439e; border: 4px solid white; color:white; font-weight:bold; border-radius: 10px; margin-bottom:100px; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; font-family: vollkorn; margin: 4px 2px; cursor: pointer; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; outline: none; }
.nextButton{
width:90px; height:40px; background-color: #ae0aa9; border: 3px solid white; color: rgb(57, 8, 81); font-weight:bold; border-radius: 10px; margin-bottom:100px; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; font-family: vollkorn; margin: 4px 2px; cursor: pointer; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; outline: none;
}
